<img src="img/flowerImage.png" class="img-thumbnail"/>
<div class="container">
    <h1>HomeViewModel info:</h1>
    <h2>Property CurrentYear: @Model.CurrentYear</h2>
    <h2>Property Message: @Model.Message</h2>
</div>