<img src="/img/flowerImage.png" class="img-thumbnail" />

<div class="container">
    <h1>HomeViewModel info:</h1>
    <h2>Property CurrentYear: @Model.CurrentYear</h2>
    <h2>Property Message: @Model.Message</h2>
</div>

<h1>User Status:</h1>
@if (User != null)
{
    <p>User Is NOT null</p>
    <a class="btn btn-success text-white" href="/home/autologout">Logout</a>
}
@else
{
    <p>User is null</p>
    <a class="btn btn-danger text-white" href="/home/autologin">Login</a>
}