<h1>Now getting the view logic implies from controller name and method name</h1>

<h1>This is for cycle and the numbers from 1 to 10 comes from the View Engine: </h1>

<ul>
    @for (int i = 1; i <= 10; i++)
    {
        <li>@i</li>
    }
</ul>
