<div class="container h1">
    @if (Model.Length > 0)
    {
        <ol>

            @foreach (var user in Model)
            {
                <li>@user.FirstName @user.LastName</li>
            }

        </ol>
    }
    @else
    {
    <p>No Registered Users!</p>
    }
</div>