<form action="/Users/LoginConfirmed" method="post">
    <label for="firstName">First name:</label><br>
    <input type="text" name="firstName" placeholder="John"><br>
    <label for="lastName">Last name:</label><br>
    <input type="text" name="lastName" placeholder="Doe"><br><br>
    <input type="submit" value="Submit">
</form>