<div class="products">
    <div class="product-row d-flex justify-content-between mt-4">
        <div class="product d-flex justify-content-between w-25">
            <div class="image-holder w-25">
                <img src="/img/product.png" alt="Product picture here" class="img-thumbnail">
            </div>
            <div class="data-holder w-75 px-3 mt-2">
                <div class="text-holder d-flex justify-content-between">
                    <h6>Name:</h6>
                    <h6>"MishMash" in "burkan"</h6>
                </div>
                <div class="text-holder d-flex justify-content-between">
                    <h6>Price:</h6>
                    <h6>$20</h6>
                </div>
                <div class="text-holder d-flex justify-content-between">
                    <h6>Barcode:</h6>
                    <h6>456733234311</h6>
                </div>
            </div>
        </div>
    </div>
</div>